<div class="row">
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        
      </div>
      <div class="card-body">
        <div class="author">
          <a href="#">
            <h5 class="title">Administrar usuarios</h5>
          </a>

          <div class="col-md-7 pr-1">
            <div class="form-group">
              <label>Nombre de usuario</label>
              <input type="text" class="form-control" placeholder="Nombre usuario" value="{{nombreUsu}}" #nomUsu required/>
            </div>
          </div>
          <div class="col-md-7 pr-1">
            <div class="form-group">
              <label>Contraseña</label>
              <input type="password" class="form-control" placeholder="Contraseña" value="{{passUsu}}" #password required/>
            </div>
          </div>
          <div class="update ml-auto mr-auto">
            <button (click)="guardarUsuario(nomUsu,password)" class="btn btn-primary btn-round">Guardar</button>
          </div>
        </div>
      </div>
      <div class="card-footer">
        
        <div class="button-container">
          <div class="row">
            
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Usuarios</h5>
      </div>
      <div class="card-body">
     
     
        <div class="table-responsive">
          <table st-table="listaUsuarios" class="table table-striped">
            <thead>
            <tr>
              <th>Id Usuario</th>
              <th>Nombre de usuario</th>
              <th>Contraseña</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of listaUsuarios">
              <td>{{row.usuID}}</td>
              <td>{{row.usuNombre}}</td>
              <td>{{row.usuPass}}</td>
              <td><button type="button" (click)="eliminarUsuario(row)" class="btn btn-sm btn-danger">
                <i class="glyphicon glyphicon-remove-circle">
                  X
                </i>
              </button></td>
              <td><button type="button" (click)="actualizarUsuario(row)" class="btn btn-sm btn-success">
                <i class="glyphicon glyphicon-remove-circle">
                  ✎
                </i>
              </button></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
