<div class="row">
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        
      </div>
      <div class="card-body">
        <div class="author">
          <a href="#">
            <h5 class="title">Administrar productos</h5>
          </a>

          <div class="col-md-7 pr-1">
            <div class="form-group">
              <label>Descripción</label>
              <input type="text" class="form-control" placeholder="ejemplo" value="{{descPro}}" #descripPro required/>
            </div>
          </div>
          <div class="col-md-7 pr-1">
            <div class="form-group">
              <label>Valor</label>
              <input type="number" class="form-control" placeholder="1000" value="{{valorPro}}" #valorPro required/>
            </div>
          </div>
          <div class="update ml-auto mr-auto">
            <button (click)="guardarProducto(descripPro,valorPro)" class="btn btn-primary btn-round">Guardar</button>
          </div>
        </div>
      </div>
      <div class="card-footer">
        
        <div class="button-container">
          <div class="row">
            
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Productos</h5>
      </div>
      <div class="card-body">
     
     
        <div class="table-responsive">
          <table st-table="listaProductos" class="table table-striped">
            <thead>
            <tr>
              <th>Id producto</th>
              <th>Descripción</th>
              <th>Valor</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of listaProductos">
              <td>{{row.proID}}</td>
              <td>{{row.proDesc}}</td>
              <td>${{row.proValor}}</td>
              <td><button type="button" (click)="eliminarProducto(row)" class="btn btn-sm btn-danger">
                <i class="glyphicon glyphicon-remove-circle">
                  X
                </i>
              </button></td>
              <td><button type="button" (click)="actualizarProducto(row)" class="btn btn-sm btn-success">
                <i class="glyphicon glyphicon-remove-circle">
                  ✎
                </i>
              </button></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
